body {
    background-image: url("../img/горы.png");
    background-size: 100%;
    width: 99%;   
}

.header {
   display:flex;
   align-items: center;
   justify-content:right;
}

.header ul {
   list-style-type: none;
   margin: 0; 
   padding: 0;
   display:flex;
   justify-content: right;
   width: 99%;
   height: 40px;
   font-size: 20px;
}

.menu li {
    margin-left: 40px;
}

.logo img{
    width: 180px;
    height: 100px;
}